header {
    height: 80px;
    margin: 0;
    padding: 10px 20px 10px 30px;
    background-color: #2b333c;
    color: white;
}

header>h1 {
    font-size: 2em;
    height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

header>h1>span {
    font-weight: bold;
}

header p {
    color: rgb(216, 216, 216);
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header .version {
    font-size: 70%;
    color: #919191;
}

nav {
    height: 40px;
    line-height: 40px;
    background-color: #e0e2e4;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.message {
    color: #333;
    background: #eee;
    width: 600px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px 0 0 0;
    border: 1px solid #cdc6c6;
    overflow: auto;
}

nav>a {
    color: #787878;
    margin: 0 12px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}

a.active {
    color: #3F3F3F;
    font-weight: bold;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.toolbar a:hover {
    background: #e4e9ef;
}

a>span {
    font-weight: bolder;
}

article {
    padding: 20px 32px;
    color: #333;
}

.toolbar {
    border: 1px solid #e4e9ef;
    position: relative;
    width: 600px;
    font-family: fira-sans, sans-serif;
    height: 30px;
    line-height: 30px;
    color: #bbb;
    font-size: 13px;
    background: #e0e2e4;
    box-sizing: border-box;
}

.toolbar span {
    color: #444;
}

.toolbar .title {
    color: #326ba4;
    transition: color 0.5s ease-out;
    overflow: hidden;
    display: block;
    float: left;
    height: 22pt;
    line-height: 22pt;
    padding: 0 8px;
    border-radius: 0 0 0 3pt;
    font-weight: bold;
    border-right: 1px solid #e4e9ef
}

.toolbar-right {
    float: right;
}

.run-button {
    background: #00c72b;
    border: 1px solid #11b53c;
    color: white;
    padding: 0 10px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 1px 0 #11b53c;
    height: 29px;
    line-height: 30px;
    font-family: fira-sans, sans-serif;
    font-size: 13px;
    border-top: 0;
    cursor: pointer;
}

.run-button:hover {
    background: #11b53c;
}

.message ul,.meeage li{
    list-style: none;
}
.message-list{
    position: relative;
}
.message-list::before{
    content: '';
    width: 3px;
    background: #00c72b;
    position: absolute;
    top: 0;
    bottom: 0;
}
.message-list li{
     position: relative;
}

.message-list li::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 0;
}